<div id="wrapper">
  <div id="header">
    <mat-toolbar>
      <mat-toolbar-row class="singleRow">
        <div fxLayout="row" class="maxWidth" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.9%"
          fxLayoutAlign="start center">
          <div fxFlex="50%" class="display">
            <span class="logoWrap">
              <img class="resImg" src="./assets/images/mainlogo.svg" style="min-width:150px;">
            </span>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="btn_content">
    <span>
      <mat-card class="example-card">
        <mat-card-header style="display: block;margin-bottom: 25px; margin-top: 10px;">
          <mat-card-title style="text-align: center;">Reset Password</mat-card-title>
          
        </mat-card-header>

        <mat-card-content *ngIf="isExpired == true">
            <p style="text-align: left; color: tomato">Your password is expired!</p>
          </mat-card-content>

        <form #myform="ngForm" (submit)="onResendPassword(myform)">
          <mat-card-content>
            <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.9%" fxLayoutAlign="start center">
              <div fxFlex="20%" class="w100p">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Username" matInput value="{{username}}" readonly required>
                  
                </mat-form-field>
              </div>
              <div fxFlex="20%" class="w100p">
                <mat-form-field class="example-full-width">
                  <input matInput type="password" [(ngModel)]="userdata.password" name="password" placeholder="Password"
                    class="form-control" required #password="ngModel" />
                  <mat-error *ngIf="password.invalid && (myform.submitted || password.touched)"
                    class="alert alert-danger">
                    <div *ngIf="password.errors.required">Password is required.</div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="20%" class="w100p">
                <mat-form-field class="example-full-width">
                  <input matInput type="password" [(ngModel)]="userdata.confirmpassword" name="confirmpassword"
                    placeholder="Confirm Password" class="form-control" required #confirmpassword="ngModel"
                    pattern="{{ password.value }}" />
                  <mat-error *ngIf="confirmpassword.invalid && (myform.confirmpassword || confirmpassword.touched)"
                    class="alert alert-danger">
                    <div *ngIf="confirmpassword.errors.required">Confirm password is required.</div>
                    <div *ngIf="confirmpassword.errors.pattern">Password & Confirm Password does not match.</div>
                  </mat-error>
                </mat-form-field>
              </div> 
            </div>
          </mat-card-content>
          <mat-card-actions style="margin-right: 20px">
            <button mat-stroked-button style="color: #7EC852;" [disabled]="onSubmitLoading">Submit <mat-spinner [diameter]="24" *ngIf="onSubmitLoading" style="float:right; margin: 5px 0px 0px 5px" ></mat-spinner></button>
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </form>
      </mat-card>
    </span>
  </div>

</div>